{% extends "layout.html" %}
{% block content %}
<h2>Threads</h2>
{% if thread_list %}
    {% for thread in thread_list %}
    <div class="thread" style="border-style: hidden hidden solid hidden;">
        <p><i>{{ thread.thread_user.username }} wrote at {{ thread.thread_date }}</i></p>
        <p><a href="/{{ thread.id }}/">{{ thread.thread_title }}</a></p>
        {% if thread.thread_user.username == user.username or user.username == "admin" %}
        <form action="/delthread/" method="get">
			<input type="hidden" name="thread" value="{{ thread.id }}">
			<input type="submit" value="Delete">
		</form>
        {% endif %}
        <br>
    </div>
    {% endfor %}
{% else %}
    <p>No threads available.</p>
{% endif %}

{% if user.is_authenticated %}
<h3>New thread</h3>
<form method="get" action="{% url 'addthread' %}" >
	<label for="title">Title</label>
	<br>
	<input type="text" name="title">
	<br>
	<label for="message">Message</label>
	<br>
	<input type="text" name="message">
	<br>
	<input type="submit" value="Submit">
{% else %}
<p>Please log in or register to make a new thread</p>
{% endif %}
{% endblock %}
